@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Add style to page and fontstyle */
* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    
}
/* Add style to background image */
body {
    background: url("../images/background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Add style to headings */
header {
    font-size: 2rem;
    text-align: center;
    color: #FFE91F;
;
}

h2, h3 {
    color: #FFE91F;
    text-align: center;
}

/* Adds style to result-box where as the result of each round is beeing declared*/
.result-box {
    color: #B534D2;
}
/* Adds style to buttons */
.btn {
    margin: 2rem 1rem;
    border: 1rem solid #333234;
    border-radius: 1rem;
    background-color: #FFE91F;
}
/* Adds style to scoreboard */
.scorebox {
    border: 1rem solid #FFE91F;
    border-radius: 1rem;
    color: #FFE91F;
    background-color: #B534D2;
    text-align: center;
    width: 15rem;
    margin: 0 auto;
    padding: 1rem;
    font-size: 2rem;
}


