@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Add style to page and fontstyle */
* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    background-color: #333234;
}
