@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Add style to page and fontstyle */
* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    
}

body {
    background: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: #FFE91F;
}

